<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤器</title>
    <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css">
</head>
<body ng-app="myApp" ng-controller="firstController">

<div class="container">
    <ul>
        <li ng-repeat="stu in students | filterAge">
            {{stu.id}}
            {{stu.name}}
            {{stu.age}}
        </li>
        <p>姓名过滤:姓名为zhangsan</p>
        <li ng-repeat="stu in students | filterName">
            {{stu.id}}
            {{stu.name}}
            {{stu.age}}
        </li>
    </ul>
</div>

<script type="text/javascript" src="../../../static/angular/angular.min.js"></script>
<script type="text/javascript" src="../controller/controll.js"></script>

</body>
</html>